#account-display {
	opacity: 1;
};

.display-item.invis {
	/* This animation could be a touch more gradual. */
    visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 3s linear;
};